= f.input :first_name
= f.input :last_name
= f.input :patronymic
= f.input :kinship, collection: User::FamilyMember.kinship.options, label_method: :first, value_method: :second
= f.input :birthdate, as: :date, html5: true
= f.button :submit, class: 'btn btn-primary'
