{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true,
      },
    }]
  ],

  "plugins": [
    ["transform-class-properties", { "spec": true }]
  ]
}
