@import "normalize.css/normalize.css";

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 100%;
}

.main {
  padding-left: 350px;

  &.collapsed {
    padding-left: 50px;
  }

  &-layout {
    width: 100%;
    height: 100vh;
    padding: 25px;
  }
}

.account-page,
.session-page {
  height: 100%;
}
